<!--
<div class="text-layout" *ngIf="false">
  <h1>{{nombre |  uppercase}}</h1>
  <h1>{{nombre |  lowercase}}</h1>
  <h1>{{nombre |  titlecase}}</h1>
  <h1>{{valor | number}}</h1>
  <h1>{{obj | json}}</h1>
  
  <button icon="pi pi-bell" iconPos="right" class="p-button-help" pButton (click)="mostrarNombre()" label="Cambiar nombre" type="button"></button>

  <p-card header="Header" subheader="Subheader">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam incidunt ea delectus autem nam! Itaque sed quibusdam porro nemo, eum reiciendis molestiae. Doloremque enim ullam commodi provident debitis laudantium eos?
  </p-card>

  
</div>-->
<app-menu></app-menu>
<router-outlet></router-outlet>

