<h1>Dragon Ball Z</h1>
<hr>
<div class="row">
    <!--
    <h3>Personajes</h3>
    
    <div class="col">
        <ul>Krillin - 700</ul>
        <ul>Goku - 15000</ul>
        <ul>Vegeta - 8500</ul>
    </div>-->

    <div class="col">
        <!--<h3>Personajes</h3>
        <hr>
        <ul *ngFor="let i of personajes">
            {{i.nombre}} - {{i.poder | number}}
        </ul>-->
        <!--<app-personajes [personajes]="personajes"></app-personajes>-->
        <app-personajes></app-personajes>
    </div>

    <div class="col">
        <!--<app-agregar (onNuevoPersonaje)="agregarNuevoPersonaje($event)" ></app-agregar>-->
        <app-agregar></app-agregar>
    </div>
</div>